<p id="notice"><%= notice %></p>


<div class="content">
    <div class="title_content">
        <h1>Project Manager</h1>
        <h4>Gabriel Vargas Monroy</h4>
    </div>
    <%= link_to 'New Project', new_project_path, :class => "button_content" %>
</div>

<div class="content">
    <% @projects.each do |project| %>
        <% if project.state == 0 %>
            <div class="content_project execute_project">
                <%= render project %>
            </div>
        <% end %>
        <% if project.state == 1 %>
            <div class="content_project archived_project">
                <%= render project %>
            </div>
        <% end %>
        <% if project.state == 2 %>
            <div class="content_project finish_project">
                <%= render project %>
            </div>
        <% end %>
    <% end %>
</div>
