<h4><%= card.name %></h4>

<% unless locals[:show] %>
    <p>
        <strong>Details:</strong>
        <%= card.details %>
    </p>
<% end %>

<div class="date-card">
    <p class="date-card-in">
        <%= card.dateIn %>
    </p>

    <p class="date-card-out">
        <%= card.dateOut %>
    </p>
</div>

<% unless locals[:show] %>
    <p>
        <strong>State:</strong>
        <%= card.state %>
    </p>
<% end %>

<p>
    <%= linkx_to 'Editar', edit_project_card_path(card.project, card) %> |
    <%= link_to 'Ver', [card.project, card] %>
</p>

<p>
    <%= link_to 'Borrar Tarjeta', [card.project, card],
    method: :delete, data: { confirm: '¿ Estas Seguro ?'} %>
</p>
