<%= form_for [@project, @card] do |form| %>
    <% if @card.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

            <ul>
                <% @card.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="field">
      <%= form.label :dateIn %>
      <div class="date_inline">
          <%= form.date_select :dateIn, :class => "date_inline" %>
      </div>
  </div>

  <div class="field">
      <%= form.label :dateOut %>
      <div class="date_inline">
          <%= form.date_select :dateOut, :class => "date_inline" %>
      </div>
  </div>

  <div class="field">
      <%= form.select(:state, [['To Do', 0], ['Doing', 1], ['Done', 2] ]) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
