<%= link_to [locals[:card].project, locals[:card]], :class => "content_card" do %>
    <h4 class="title_card"><%= locals[:card].name %></h4>
    <div class="date_card">
        <p class="date_card_in">
            <%= locals[:card].dateIn %>
        </p>

        <p class="date_card_out">
            <%= locals[:card].dateOut %>
        </p>
    </div>

    <div class="bar_buttons">
        <% if locals[:card].state == 0 %>
            <%= link_to 'Doing', project_card_path(locals[:card].project, locals[:card],
                                                   "state": 1), method: :patch,
                                                   :class => "link_bar execute-project middle_bar_letter" %>
            <%= link_to 'Done', project_card_path(locals[:card].project, locals[:card],
                                                  "state": 2), method: :patch,
                                                  :class => "link_bar archived_project middle_bar_letter" %>
        <% end %>
        <% if locals[:card].state == 1 %>
            <%= link_to 'To Do', project_card_path(locals[:card].project, locals[:card],
                                                   "state": 0), method: :patch,
                                                   :class => "link_bar edit_color middle_bar_letter" %>
            <%= link_to 'Done', project_card_path(locals[:card].project, locals[:card],
                                                  "state": 2), method: :patch,
                                                  :class => "link_bar archived_project middle_bar_letter" %>
        <% end %>
        <% if locals[:card].state == 2 %>
            <%= link_to 'To Do', project_card_path(locals[:card].project, locals[:card],
                                                   "state": 0), method: :patch,
                                                   :class => "link_bar edit_color middle_bar_letter" %>
            <%= link_to 'Doing', project_card_path(locals[:card].project, locals[:card],
                                                   "state": 1), method: :patch,
                                                   :class => "link_bar execute-project middle_bar_letter" %>
        <% end %>
    </div>
<% end %>
